.content {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  width: 250px;
}

.inputLabel{
  margin: 0px 0px .5rem 0px;
  color: #2d2d41;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 24px;
  text-align: left;
}

.inputField {
  background: #fafafc;
  border: 1px solid rgba(226,226,234,.75);
  border-radius: 4px;
  font-size: 14px;
  height: 24px;
  line-height: 20px;
  padding: 6px;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  width: 100%;
}

.inputError{
  display: block;
  font-size: 9px;
  color: red;
  margin-top: 5px;
}

.inputErrorNone{
  display: none;
}

